:host {
    ion-content {
        --background: url("/assets/img/fundo-chat.png");
    }
  }
  
  .bar{
    height: 80px !important;
  }
  
  .has-header{
      top: 80px !important;
      bottom: 160px !important;
  }
  
  .bar-footer{
      height: 100px !important;
  }
  
  .bar-subfooter{
      bottom: 100px !important;
      height: 60px !important;
  }
  
.input-wrap {
    padding: 2px;
    display: flex;
    textarea {
      flex: 2;
      border: 0;
      border-bottom: 1px #000;
      border-style: solid;
    }
    button {
        flex: 0.3;
    }
}
ion-footer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
    background-color: #fff;
}
ion-content .scroll-content {
    background-color: #f5f5f5;
}
.line-breaker {
    white-space: pre-line;
}
.container {
    
  .message {
    background: rgb(156, 192, 231) !important;
    display: inline-block !important;
    color: white !important;
    padding: 15px !important;
    border-radius: 10px !important;

    padding: 12px 0;

    .left {
        float:left;
    }
    
    .center {
        display: inline-block;
        margin:0 auto;
    }
    
    .right {
        float:right;
    }
    .msg-content {
        color: #343434;
        float: left;        
    }
    .user-img {
        position: absolute;
        border-radius: 45px;
        width: 45px;
        height: 45px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
    }
    .msg-detail {
        width: 100%;
        padding-left: 60px;
        display: inline-block;
        p {
          margin: 0;
        }
        .msg-info {
          p {
            font-size: .8em;
            color: rgb(123, 123, 129);
          }
        }
    }
  }
}