<ion-content class="login-container">

  <div class="login-wrapper">

    <!-- LOGO -->
    <div class="logo-area">
      <ion-icon name="wallet-outline"></ion-icon>
      <h1>Meu Boleto</h1>
    </div>

    <div class="login-card">

      <h2>Bem-vindo 👋</h2>
      <p class="subtitle">Entre para continuar usando o aplicativo</p>

      <form [formGroup]="loginForm" (ngSubmit)="login()">

        <!-- EMAIL -->
        <div class="input-group">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input formControlName="email" placeholder="E-mail" type="email"></ion-input>
        </div>

        <!-- SENHA -->
        <div class="input-group">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input 
            formControlName="senha"
            placeholder="Senha"
            [type]="mostrarSenha ? 'text' : 'password'">
          </ion-input>

          <ion-icon 
            class="toggle-icon"
            [name]="mostrarSenha ? 'eye-off-outline' : 'eye-outline'"
            (click)="toggleSenha()">
          </ion-icon>
        </div>

        <ion-button expand="block" class="btn-login" type="submit">
          Entrar
        </ion-button>

      </form>

      <p class="signup-text">
        Não tem conta?
        <a (click)="irParaCadastro()">Criar conta</a>
      </p>

    </div>

  </div>

</ion-content>
