
<ion-header>
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-back-button (click)="goToHome()" color="secondary"><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
      </ion-buttons>
      <ion-title class="tituloPrincipal" color="secondary" > <ion-label> <strong> Olá, {{ usuarioAutenticado.nome }}</strong></ion-label> </ion-title>
     
      <ion-title class="subTitulo" *ngIf="tituloSubMenu != '' ">
        <ion-label color="secondary">{{titulo}} | {{tituloSubMenu}}</ion-label>
      </ion-title>

      <ion-title class="subTitulo" *ngIf="tituloSubMenu === '' ">
        <ion-label color="secondary">{{titulo}} {{tituloSubMenu}}</ion-label>
      </ion-title>

      <ion-buttons slot="end">
        <ion-menu-button ><ion-icon name="menu" class="menu"></ion-icon></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content *ngIf="preparandoRelatorio === true">
  <div>
      <ion-card style="height: 100%; display: flex; align-items: center; justify-content: center;" >
        <ion-item>
          <ion-spinner name="circles" slot="end"></ion-spinner>
          <strong color="primary">Preparando Relatório...</strong>
        </ion-item>
      </ion-card>
    </div>
</ion-content>
<ion-content *ngIf="relatorioNotFound == 'notFound' ">
  <div>
      <ion-card style="height: 100%; display: flex; align-items: center; justify-content: center;" >
        <ion-item>
          <strong color="primary">Relatório não localizado.</strong>
        </ion-item>
      </ion-card>
    </div>
</ion-content>

<ion-content *ngIf="urlScript !== null">
  <iframe #frameFiltro [src]="urlScript" class="iframe" scrolling="yes" width="100%"
      height="100%" frameborder="0" allowfullscreen>
 </iframe>
</ion-content>





  <!--
      <ion-list no-border>
    <div auto-hide="false" *ngFor="let p of appPages">
      <ion-item [routerLink]="[p.url]">
        <ion-icon slot="start" [name]="p.icon" color="primary"></ion-icon>
        <ion-label color="primary"> {{p.title}}</ion-label>
      </ion-item>
    </div>
  </ion-list>
  -->