:host {
  ion-content {
      --background: url("/assets/img/bg_fundo.png") no-repeat center center / cover !important;
  }

  ion-tab-button {
      background-color: var(--ion-color-secondary); // black
  }
}


ion-card{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: 600px;
    margin: 0 !important;
  }