<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Relatórios</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

<iframe #frameFiltro [src]="urlRelatorio" class="iframe" scrolling="yes" width="100%"
      height="100%" frameborder="0" allowfullscreen>
 </iframe>

  <!--
    <ion-list no-border>
    <div auto-hide="false" *ngFor="let p of appPages">
      <ion-item [routerLink]="[p.url]">
        <ion-icon slot="start" [name]="p.icon" color="primary"></ion-icon>
        <ion-label color="primary"> {{p.title}}</ion-label>
      </ion-item>
    </div>
  </ion-list>
  -->
  
</ion-content>