:host {
	ion-toolbar {
		// --background: linear-gradient(70deg, #6699ff, #1877f2, #1877f2, #eed2ebd4) !important;
		--background: linear-gradient(180deg, #b0d1ff, #f7fafe) !important;
	}
}

.header-md::after {
	background-image: none;
}

* {
	box-sizing: border-box;
	margin: 0;
}

ion-grid {
	padding: 0 !important; 
}

ion-title {
	padding-left: 10px !important;
}

.menu-cabecalho {
	background-image: linear-gradient(0deg, #b0d1ff, #f7fafe) !important;
}

.cardconteudo {
	background: rgba(255, 255, 255, 0.5);
}

.card-home ion-card {
	border-radius: 10%;
}

.card-background-page {
	ion-card {
		display: inline-block;
		box-shadow: none !important;
		position: relative;
		text-align: center;
		background-color: transparent;
		margin: 0 !important;
		padding: 0 !important;
		width: 100%;
	}

	.card-title {
		position: absolute;
		top: 45%;
		font-size: 1.2em;
		width: 100%;
		font-weight: bold;
		color: #fff;
	}

	.card-subtitle {
		font-size: 1.0em;
		position: absolute;
		top: 52%;
		width: 100%;
		color: #fff;
	}
}

.author-photo-Home img {
	max-width: 50px;
	max-height: 46px;
	width: auto;
	height: auto;
}

.button-home ion-button {
	border-radius: 50%;
}

ion-segment-button.ios {
	--color: #08a391;
	--color-checked: #fff;
	--border-radius: 20px;
}

.ion-tab-button-header {
	border: 1px solid gray;
	min-width: 96px;
	padding: 4px;
	margin: 4px;
	border-radius: 90%;
	color: #5e5f61;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}

.ion-tab-button-header-selecionado {
	padding: 6px;
	border-radius: 8px;
	display: inline-flex;
	width: 90%;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	color: #6699ff;
}

.ion-tab-button-div-header {
	min-width: 112px;
	padding: 0px;
	margin: 0px;
	border-radius: 0px;
	display: inline-flex;
	align-items: center;
	color: #000;
}

.ion-tab-button-div-submenu {
	min-width: 100%;
	padding: 0px;
	margin: 0px;
	border-radius: 0px;
	display: inline-flex;
	align-items: center;
	justify-content: center;

}

.navbar {
	overflow: hidden;
	background-color: #333;
}

.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.subnav {
	float: left;
	overflow: hidden;
}

.subnav .subnavbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
	background-color: red;
}

.subnav-content {
	display: none;
	position: absolute;
	left: 0;
	background-color: red;
	width: 100%;
	z-index: 1;
}

.subnav-content a {
	float: left;
	color: white;
	text-decoration: none;
}

.subnav-content a:hover {
	background-color: #eee;
	color: #000;
}

.subnav:hover .subnav-content {
	display: block;
}

.parent-menu {
	position: relative;
}

.fixed-label {
	justify-content: space-between
}

.borda {
	border: 2px solid #6699ff;
	padding: 10%;
	border-radius: 25px;
	min-width: 100px;
	min-height: 10px;
	display: inline-flex;
	text-align: center;
}

.borda-segmento {
	border: 2px solid #6699ff;
	padding: 10px;
	border-radius: 25px;
}

.active {
	border: 1px solid #000;
}

ion-label {
	font-size: 10px;
}

.frame {
	position: absolute;
}

.custom-spacing ion-col {
	margin-right: 5px;
}

.custom-spacing ion-col:last-child {
	margin-right: 0;
}









.div-menu {
	padding: 10px;
    display: flex;
    gap: 20px;
	overflow-x: scroll;
}

.div-submenu {
	padding-top: 10px;
	padding-bottom: 0;
}

.btn-menu {
	display: inline-block;
	cursor: pointer;
	color: #000;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	width: 120px;
	border-radius: 13px;
	background-image: linear-gradient(0deg, #d4d4d4, #fff, #fff) !important;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
	height: 30px;
	border: 1px solid #bfbfbf;
}

.box-submenu {
	position: absolute;
	background-color: #dddddd;
	background-image: linear-gradient(18deg, #b0d1ff, #f7fafe, #b0d1ff) !important;
	width: 205px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
	z-index: 1;
	padding: 10px;
	display: block;
	margin-top: 5px;
	border-radius: 5px;
	border: 1px solid #9b9b9b;
}

.btn-submenu {
	background-color: #fff;
    color: #000;
    cursor: pointer;
    font-family: Tahoma;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    min-height: 50px;
    border: 1px solid #9b9b9b;
    line-height: 22px;
	border-radius: 4px;
	margin: 3px 0;
}

::-webkit-scrollbar {
	width: 0px;
	display: none;
}

::-webkit-scrollbar-thumb {
	background: transparent;
}

::-webkit-scrollbar-thumb:hover {
	background: transparent;
}

.div-dashboard {
	width: 100%;
	padding: 10px;
	gap: 15px;
	display: flex;
	flex-direction: column;
}

.box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 20px;
	flex-wrap: wrap;
}

.titulo-header {
	padding: 0;
	margin: 0;
	width: 100vw;
	color: #000;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
}

.div-dados {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 10px;
}

.dados {
	display: flex;
	flex-direction: column;
	justify-content: start;
	flex-grow: 1;
	width: 150px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.grafico {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 2vh;
}

.div-labels{
	display: flex;
	flex-direction: column;
	padding: 5px 0;
}

@media only screen and (min-width: 800px) {
	.div-labels{
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		padding: 5px 0;
	}
}

@media only screen and (max-width: 410px) {
	.dados {
		display: flex;
		flex-direction: column;
		justify-content: start;
		padding: 5px;
		border-radius: 5px;
		border: 1px solid;
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
		width: 100%;
		flex-grow: 1;
		width: 150px;
	}
}