<ion-header>
  <ion-toolbar>
    <ion-title class="tituloPrincipal">Minha Conta</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <!--
        <ion-button (click)="goToHome()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
        <ion-back-button color="secondary"></ion-back-button>
       -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content class="card">
    <ion-card no-margin>
      <ion-grid fixed no-padding>
        <ion-row>
          <ion-col size="12" padding>
            <ion-list margin-bottom style="padding-top: 0;">

              <!-- Usuario -->
              <ion-item>
                <ion-label color="dark" position="stacked">usuário:</ion-label>
                <ion-input inputmode="text" [value]="usuario.nome"
                  readonly="true"></ion-input>
              </ion-item>

              <!-- Digital -->
              <!-- <ion-item>
                <ion-label>Habilitar acesso com a Digital</ion-label>
                <ion-toggle color="primary" slot="end"
                  [(ngModel)]="habilitarAcessoDigital"
                  (ionChange)="setHabilitarAcessoDigital()"></ion-toggle>
              </ion-item> -->

              <!-- 
              ---------------- URL ----------------
              <ion-item>
                <ion-label color="dark" position="stacked">URL:</ion-label>
                <ion-input inputmode="text" [value]="url"
                  readonly="true"></ion-input>
              </ion-item> 
              -->

              <!-- 
              ---------------- Porta ----------------
              <ion-item>
                <ion-label color="dark" position="stacked">Porta:</ion-label>
                <ion-input inputmode="text" [value]="porta"
                  readonly="true"></ion-input>
              </ion-item> 
              -->

            </ion-list>
          </ion-col>
        </ion-row>

        <!-- 
        ---------------- Botao de Configuração ---------------- 
        <ion-row style="display: flex; justify-content: center;">
          <ion-button icon-left size="medium" expand="full" shape="round" (click)="configurar()" tappable>
            <ion-icon name="settings"></ion-icon>
            Configurar
          </ion-button>
        </ion-row> 
        -->

      </ion-grid>

    </ion-card>

  </ion-content>
</ion-content>